.main_chat
  .main_chat__groups-info
    .main_chat__groups-info__left-box
      .main_chat__groups-info__left-box__current-group  
        = @group.name
      .main_chat__groups-info__left-box__member-list
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group), class: "main_chat__groups-info__edit-box"

    
  .main_chat__message-list
    = render @messages
      
  .main_chat__message-form
    = form_for [@group, @message] do |f|
      .new_message__input-box
        = f.text_field :content, class:"new_message__input-box__text", placeholder: "type a message" 
        = f.label :image, class:"new_message__input-box__image" do
          = icon("far", "image")
          = f.file_field :image, class:"new_message__input-box__image__file"
      = f.submit "Send", data: {disabled: '送信中...'}, class: "new_message__submit-btn"